* {
	box-sizing:border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url('images/patt.png')
}
.container{
	width:1170px;
	margin:0 auto;
}
.row:after, .menu:after, .last:after{
	content:"";
	clear:both;
	display:block;
}
[class*="col-"]{
	float:left;
}
.col-md-3{
	width:25%;
}
.col-md-6{
	width:50%;
}
.header{
	background-color:  rgba(255, 255, 255, 0.75);
	padding:25px 0;
}
.menu li{
	float:left;
	width:25%;
	border-left:1px solid #2c71b8;
}
.menu li:last-child{
	border-right:1px solid #2c71b8;
}

.menu a{
	display:block;
	height:50px;
	text-decoration:none;
	text-align:center;
	line-height: 50px;
	color:#2c71b8;
	font-size: 21px;
	font-weight: 300;

}
.menu a:hover {
	background-color: #2c71b8;
	color:white;
}
 .last div{
 	float:left;
 }
#search{
	border-width: 1px;
	border-color:  #2c71b8;
	border-style: solid;
	width: 75%;
	margin:8px;
}
#search button{
    background-color:  #2c71b8;
	width: 30px;
	height:30px;
	 border: none;
}
#search input {
    border: none;
    width:84%;
	height:30px;
	color: #2c71b8;
	background-color:  rgba(255, 255, 255, 0.0);

}
#search ::placeholder {
	background-color:  rgba(255, 255, 255, 0.0);
    color: #2c71b8;
    opacity: 1; /* Firefox */
}
.count{
	counter-reset: section; 
	margin:11px;
}
.count img::before {
  counter-increment: section;               
  content: counter(section);
}